$corDeFundo: #0E0B14;
$corTextoPrimaria: #F9F9F9;
$corTextoSecundaria: #CACACA;
$backgroundImage: url(../images/bleach_fundo.jpeg);

.ep-description {
    font-size: 20px;
    color: #f9f9f9;
    line-height: 1.6;
}